.layout-page__empty-placeholder {
  margin-top: 50px;
}

.screen_group__screen {
  display: inline-block;
  cursor: pointer;
  margin-right: 19px;
  margin-top: 15px;
  vertical-align: top;

  &:last-child {
    margin-right:0;
  }

  &:hover {
    .screen_group__screen-bezel::before {
      opacity: 0.2;
    }
  }

  &.is-active {
    cursor: default;

    .screen_group__screen-bezel::before {
      opacity: 1.0;
    }
  }
}

.screen_group__screen-bezel {
  height: 152px;
  padding: 16px 4px;
  position: relative;
  background: url('./../assets/blank_screen.png') no-repeat;
  background-size: 72px 120px;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #313c59;
    opacity: 0.05;
    border-radius: 8px;
    transition: opacity 0.2s linear;
  }
}

.screen_group__clear {
  clear: both;
}

.screen_group__screen-image {
  width: 72px;
  height: 120px;
  position: relative;
}

.screen_group__title {
  font-size: 13px;
  font-weight: 500;
  color: #888fa1;
}

.screen_group {
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e4e6e9;
}
.screen_group:first-child {
  padding-top: 10px;
}
.screen_group:last-child {
  border-bottom: none;
}

.screen_group__screen-list {
  margin-top: 0;
}

.screen_group__screen_name {
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  width:80px;
  overflow: hidden;
  text-overflow: ellipsis;;
}
