.feed-preview__container {
  padding-bottom: 24px;
}

.feed-preview__feed-url-container {
  height: 48px;
  line-height: 48px;
  background-color: rgba(228, 230, 233, 0.4);
}

.feed-preview__feed-url-text-wrapper {
  display: inline-block;
  float: left;
  width: calc(100% - 64px);
}

.feed-preview__feed-url {
  padding-left: 20px;
  font-family: MuseoSans;
  font-size: 14px;
  font-weight: normal;
  color: #808799;
}

.feed-preview__remove {
  position: relative;
  float: right;
  top: 14px;
  right: 12px;
  cursor: pointer;
}
